<div>
    <h1>{{'user.title.profile' | translate}}</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Photo upload</div>
        <div class="panel-body">
            <!-- Look at https://github.com/danialfarid/ng-file-upload -->
            <img ngf-src="files[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'" width="75px" height="75px">
            <div class="btn btn-primary" ngf-select ng-model="files">Upload image</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Password change</div>
            <div class="panel-body">
            <div class="form-group" ng-show="user.id == null">
                <label for="password">{{'user.password' | translate}}:</label>
                <input type="password" class="form-control" id="password" ng-model="user.password">
            </div>
            <div class="form-group" ng-show="user.id == null">
                <label for="passwordConfirmation">{{'user.retype_password' | translate}}:</label>
                <input type="password" class="form-control" id="passwordConfirmation" ng-model="user.passwordConfirmation">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="save(user)" ng-disabled="form.$invalid">{{'user.action.save' | translate}}</button>
        </div>
    </div>
</div>