<div>
    <h1>{{'user.title.profile' | translate}}</h1>
    <form name="form" class="css-form" novalidate>
        <div class="form-group" ng-show="user.id == null">
            <label for="password">{{'user.password' | translate}}:</label>
            <input type="password" class="form-control" id="password" ng-model="user.password">
        </div>
        <div class="form-group" ng-show="user.id == null">
            <label for="passwordConfirmation">{{'user.retype_password' | translate}}:</label>
            <input type="password" class="form-control" id="passwordConfirmation" ng-model="user.passwordConfirmation">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="save(user)" ng-disabled="form.$invalid">{{'user.action.save' | translate}}</button>
    </form>
</div>