<div>
    <div align="right">
        <button class="btn btn-primary" ng-click="go('/user/register')">{{'user.action.newuser' | translate}}</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{'user.name' | translate}}</th>
                <th>{{'user.login' | translate}}</th>
                <th>{{'user.email' | translate}}</th>
                <th><span class="glyphicon glyphicon-pencil"/></th>
            </tr>
        </thead>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
            <td><span class="glyphicon glyphicon-pencil" ng-click="redirectToUser(user.id)"/></td>
        </tr>
    </table>
    <pagination
            ng-model="currentPage"
            total-items="totalElements"
            max-size="maxSize"
            boundary-links="true"
            previous-text="{{'pagination.previous' | translate}}"
            next-text="{{'pagination.next' | translate}}"
            first-text="{{'pagination.first' | translate}}"
            last-text="{{'pagination.last' | translate}}">
    </pagination>
</div>