<div>
    <h1>{{'user.title.registration' | translate}}</h1>
    <form name="form" class="css-form" novalidate>
        <div ng-class="{ 'alert alert-success' :  success, 'alert alert-danger' : !success }" ng-show="messages.length > 0" role="alert">
            <div ng-repeat="message in messages">{{message}}</div>
        </div>
        <div class="form-group">
            <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                <label for="name">{{'user.name' | translate}}:</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="user.name" placeholder="{{'user.name' | translate}}" required="true">
                <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">{{'user.validation.name_required' | translate}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                <label for="email">{{'user.email' | translate}}:</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="user@email.com" required="true">
                <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">{{'user.validation.email_invalid' | translate}}</p>
            </div>
            <div class="form-group">
                <label for="login">{{'user.login' | translate}}:</label>
                <input type="text" class="form-control" id="login" ng-model="user.login" placeholder="Login" required="true">
            </div>
            <div class="form-group" ng-show="user.id == null">
                <label for="password">{{'user.password' | translate}}:</label>
                <input type="password" class="form-control" id="password" ng-model="user.password">
            </div>
            <div class="form-group" ng-show="user.id == null">
                <label for="passwordConfirmation">{{'user.retype_password' | translate}}:</label>
                <input type="password" class="form-control" id="passwordConfirmation" ng-model="user.passwordConfirmation">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="save(user)" ng-disabled="form.$invalid">{{'user.action.save' | translate}}</button>
            <button type="button" class="btn btn-danger"
                    ng-really-message="{{'user.action.confirmationMessage' | translate}}"
                    ng-really-confirm="{{'yes' | translate}}" ng-really-cancel="{{'no' | translate}}"
                    ng-really-click="deleteUser()" ng-show="user.id != null">{{'user.action.delete' | translate}}</button>
        </div>
    </form>
</div>