<div>
    <h1>User registration</h1>
    <form name="form" class="css-form" novalidate>
        <div class="form-group">

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="user.name" placeholder="Name" required="true">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="user@email.com" required="true">
            </div>
            <div class="form-group">
                <label for="login">Login:</label>
                <input type="text" class="form-control" id="login" ng-model="user.login" placeholder="Login" required="true">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" ng-model="user.password">
            </div>
            <div class="form-group">
                <label for="passwordConfirmation">Re-type password:</label>
                <input type="password" class="form-control" id="passwordConfirmation" ng-model="user.passwordConfirmation">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="save(user)">Save</button>
        </div>
    </form>
</div>