<div>
    <div align="right">
        <button class="btn btn-primary" ng-click="go('/user/register')">New user</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Login</th>
                <th>Email</th>
            </tr>
        </thead>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
    <pagination
            ng-model="currentPage"
            total-items="totalElements"
            max-size="maxSize"
            boundary-links="true">
    </pagination>
</div>